@(actives: Array[String])(content: Html)
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Messages("app.name") | @Messages("app.title")</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet/less" type="text/css" href="@routes.Assets.at("cp/themes/less/bootstrap.less")">
    <link rel="stylesheet" href="@routes.Assets.at("cp/themes/style/fullcalendar.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("cp/themes/style/delta.main.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("cp/themes/style/delta.grey.css")"/>
    <link href="@routes.Assets.at("images/favicon.png")" rel="icon" type="image/png"/>
    <script src="@routes.Assets.at("cp/themes/js/less/less.js")" type="text/javascript"></script>
</head>
<body>
	<div id="fb-root"></div>
    <br/>
    <div id="sidebar"> 
        <a href="@routes.ControlPanel.index()"><h1 id="logo"></h1></a>  
        <ul>
            <li @if(actives.contains("dashboard")){class="active"}><a href="@routes.ControlPanel.index()"><i class="icon icon-home"></i> <span>@Messages("msg.dashboard")</span></a></li>
            <li @if(actives.contains("fbpages")){class="active"}><a href="@routes.ControlPanel_Fbpage.list()"><i class="icon icon-th-list"></i> <span>@Messages("msg.fbpages")</span></a></li>
            <li @if(actives.contains("fbpost")){class="active"}><a href="@routes.ControlPanel_Fbpage.post(null)"><i class="icon icon-file"></i> <span>@Messages("msg.fbpost")</span></a></li>
        </ul>
    </div>
    <div id="mainBody">
        <h1>@if(actives.contains("dashboard")){@Messages("msg.dashboard")}
        	@if(actives.contains("fbpages")){@Messages("msg.fbpages")}
        	@if(actives.contains("editfbpage")){@Messages("msg.fbpage.edit")}
        	@if(actives.contains("fbpost")){@Messages("msg.fbpost")}
            <div class="pull-right">
            	<a class="btn btn-large btn-info" title="@Messages("msg.dashboard")" href="@routes.ControlPanel.index()"><i class="icon-home"></i></a>
                <a class="btn btn-large" title="@Messages("msg.fbpages")" href="@routes.ControlPanel_Fbpage.list()"><i class="icon-th-list"></i></a>
                <!--
                <a class="btn btn-large tip-bottom" title="Manage Users"><i class="icon-user"></i></a>
                <a class="btn btn-large tip-bottom" title="Manage Comments" style="position:relative"><i class="icon-comment"></i>
                <span style="position:absolute; border-radius:12px; top:-23%; height:16px; width:16px" class="label label-important">5</span></a>
                <a class="btn btn-large tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a>
                <a class="btn btn-large" title="" href="#"><i class="icon icon-user"></i> <span>Profile</span></a>
                <a class="btn btn-large" title="" href="#"><i class="icon icon-cog"></i> Settings</a>
                -->
                <a class="btn btn-large btn-danger" title="@Messages("msg.logout")" href="javascript:_logout()"><i class="icon-off"></i></a>
            </div>
        </h1>
        @content
    </div>
    <script src="@routes.Assets.at("cp/themes/js/excanvas.min.js")"></script>
    <script src="@routes.Assets.at("cp/themes/js/jquery.min.js")"></script>
    <script src="@routes.Assets.at("cp/themes/js/jquery.ui.custom.js")"></script>
    <script src="@routes.Assets.at("cp/themes/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("cp/themes/js/jquery.flot.min.js")"></script>
    <script src="@routes.Assets.at("cp/themes/js/jquery.flot.resize.min.js")"></script>
    <script src="@routes.Assets.at("cp/themes/js/jquery.peity.min.js")"></script>
    <script src="@routes.Assets.at("cp/themes/js/fullcalendar.min.js")"></script>
    <script src="@routes.Assets.at("cp/themes/js/delta.js")"></script>
    <script src="@routes.Assets.at("cp/themes/js/delta.dashboard.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.cookie.js")"></script>
    <script type="text/javascript">
        function _logout() {
            FB.logout();
        }
        function _fbRefreshLoginStatus() {
            FB.getLoginStatus(function(response) {
                if (response.status != 'connected') {
                    $.removeCookie('FB_USER');
                    $.removeCookie('FB_ACCESS_TOKEN');
                    document.location.href = "@routes.Frontend.index()";
                }
            });
        }
        
        window.fbAsyncInit = function() {
            // init the FB JS SDK
            FB.init({
              appId     : '349906525140419',
              channelUrl: '@routes.Assets.at("fbchannel.html")',
              status    : true, // Check Facebook Login status
              xfbml     : true, // Look for social plugins on the page
              cookie    : true, // enable cookies to allow the server to access the session
            });
            
            // Additional initialization code such as adding Event Listeners goes here            
            FB.Event.subscribe('auth.login', function() {
                _fbRefreshLoginStatus();
            });
            
            _fbRefreshLoginStatus();
        };
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>