@(formFbPostText: Form[models.FbPostText], fbPages: List[models.FbPage], errorMsg: String = null)

@_layout(Array("fbpost")
	,Array("cp/jquery-upload/js/vendor/jquery.ui.widget.js", "cp/jquery-upload/js/jquery.iframe-transport.js", "cp/jquery-upload/js/jquery.fileupload.js")
	,Array()
){
	<div id="breadcrumb">
		<a href="@routes.ControlPanel.index()" class="tip-bottom"><i class="icon-home"></i> @Messages("msg.dashboard")</a>
		<a href="@routes.ControlPanel_Fbpage.list()" class="tip-bottom">@Messages("msg.fbpages")</a>
		<a href="javascript:;" class="current">@Messages("msg.fbpost")</a>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<style type="text/css">.mylabel{font-weight: bold;} .bar{height: 18px; background: green; font-weight: bold; color: white;}</style>
			<!-- <form style="margin-top: -30px; padding-top: 0px;"> -->
			<div style="margin-top: -30px; padding-top: 0px;">
				<script type="text/javascript">
				var _UPLOADING = false;
				var _CURRENT_PHOTO = null;
			    $(document).ready(function(){
			    	//change input[type=file] style
			    	var wrapper = $('<div/>').css({height:0,width:0,'overflow':'hidden'});
			    	var fileInput = $('#_fbpost_photo').wrap(wrapper);
			    	$('#_fbpost_photo_btn').click(function(){
			    	    fileInput.click();
			    	}).show();
			    	
			    	//init fileupload plugin
			    	$('#_fbpost_photo').fileupload({
						dataType        : 'json',
						multipart       : true,
						formData        : function() {
							var _valuePageIds = [];
							@for(fbPage <- fbPages) {
								if ( $('#pages_@fbPage.id').prop('checked') ) {
									_valuePageIds.push('@fbPage.id');
								}
							}
							var _valueCaption = $('#_fbpost_photo_caption').val();
							return [{name:"pages", value:_valuePageIds}, {name:"caption", value:_valueCaption}];
						},
						url             : '@routes.ControlPanel_Fbpage.postPhoto()',
					    type            : 'POST',
					    replaceFileInput: false,
					    done: function (e, data) {
					        $('#_fbpost_photo_btn').text('@Messages("msg.fbpost.choosePhoto")').attr('class', 'btn');
					        _CURRENT_PHOTO = null;
					        _UPLOADING = false;
					        
					        var _data = data.result;
					        if ( _data.status == 200 ) {
					        	var _status = $('#_fbpost_status').val();
					        	_status += '@Messages("msg.fbpost.ok")';
					        	$('#_fbpost_status').val(_status);
					        } else {
					        	var _status = $('#_fbpost_status').val();
					        	_status += '\r\n' + '...@Messages("msg.fbpost.error"): ['+_data.status+'] '+_data.message;
					        	$('#_fbpost_status').val(_status);
							}
							document.getElementById('_fbfrm_photo').reset();
					    },
					    fail: function (e, data) {
					    	$('#_fbpost_photo_btn').text('@Messages("msg.fbpost.choosePhoto")').attr('class', 'btn');
					        _CURRENT_PHOTO = null;
					        _UPLOADING = false;
					        
					        var _status = $('#_fbpost_status').val();
					        _status += '\r\n' + '...@Messages("msg.fbpost.error"): ['+data.textStatus+']';
							$('#_fbpost_status').val(_status);
							document.getElementById('_fbfrm_photo').reset();
					    },
					    progressall: function (e, data) {
						    var progress = parseInt(data.loaded / data.total * 100, 10);
						    $('#_fbupload_progress .bar').css('width', progress + '%').html(progress + '%');
						    if ( progress >= 100.0 ) {
						    	var _status = '@Messages("msg.fbpost.uploading")@Messages("msg.fbpost.ok")';
						    	_status += '\r\n@Messages("msg.fbpost.start")';
								$('#_fbpost_status').val(_status);
						    }
						},
						add: function (e, data) {
							_CURRENT_PHOTO = data;
							var _file = data.files[0];
							var _txt = _file.name + ' ('+_file.size+' bytes)';
							$('#_fbpost_photo_btn').text(_txt).attr('class', 'btn btn-info');
					    },
					});
			    });
			    
				function postPhoto() {
					if ( _UPLOADING ) {
						var _status = '@Messages("error.fbpost.uploading")';
						$('#_fbpost_status').val(_status);
					} else {				
						if ( _CURRENT_PHOTO != null ) {
							var _status = '@Messages("msg.fbpost.uploading")';
							$('#_fbpost_status').val(_status);
							$('#_fbupload_progress .bar').css('width', '0%').html('');
							_UPLOADING = true;
							_CURRENT_PHOTO.submit();
						} else {
							var _status = '@Messages("error.fbpost.nofile")';
							$('#_fbpost_status').val(_status);
						}
					}
				}
				function postLink() {
					var _url = $('#_fbpost_url').val().trim();
					var _urlCaption = $('#_fbpost_url_caption').val().trim();
					var _urlDesc = $('#_fbpost_url_desc').val().trim();
					var _status = '@Messages("msg.fbpost.start")';
					$('#_fbpost_status').val(_status);
					@for(fbPage <- fbPages) {
						if ( $('#pages_@fbPage.id').prop('checked') ) {
							var _postData = {
								url            : _url,
								url_caption    : _urlCaption,
								url_description: _urlDesc,
								page           : '@fbPage.id'
							};
							$.ajax({
								cache      : false,
								contentType: 'text/json',
								type       : 'POST',
								url        : '@routes.ControlPanel_Fbpage.postLink()',
								data       : JSON.stringify(_postData),
								dataType   : 'json',
								success    : function(data, textStatus, jqXHR) {
									_status += '\r\n- ' + '@fbPage.name' + '...'
									if ( data.status == 200 ) {
										_status += '@Messages("msg.fbpost.ok")';
										$('#_fbpost_status').val(_status);
									} else {
										_status += '@Messages("msg.fbpost.error"): ['+data.status+'] '+data.message;
										$('#_fbpost_status').val(_status);
									}
						        },
						        error      : function(obj, textStatus, textMessage) {
						        	_status += '\r\n- ' + '@fbPage.name' + '...'
						        	_status += '@Messages("msg.fbpost.error"): ['+textStatus+'] '+textMessage;
									$('#_fbpost_status').val(_status);
						        }
							});
						}
					}
				}
				
				function postText() {
					var _text = $('#_fbpost_text').val().trim();
					var _status = '@Messages("msg.fbpost.start")';
					$('#_fbpost_status').val(_status);
					@for(fbPage <- fbPages) {
						if ( $('#pages_@fbPage.id').prop('checked') ) {
							var _postData = {
								text: _text,
								page: '@fbPage.id'
							};
							$.ajax({
								cache      : false,
								contentType: 'text/json',
								type       : 'POST',
								url        : '@routes.ControlPanel_Fbpage.postText()',
								data       : JSON.stringify(_postData),
								dataType   : 'json',
								success    : function(data, textStatus, jqXHR) {
									_status += '\r\n- ' + '@fbPage.name' + '...'
									if ( data.status == 200 ) {
										_status += '@Messages("msg.fbpost.ok")';
										$('#_fbpost_status').val(_status);
									} else {
										_status += '@Messages("msg.fbpost.error"): ['+data.status+'] '+data.message;
										$('#_fbpost_status').val(_status);
									}
						        },
						        error      : function(obj, textStatus, textMessage) {
						        	_status += '\r\n- ' + '@fbPage.name' + '...'
						        	_status += '@Messages("msg.fbpost.error"): ['+textStatus+'] '+textMessage;
									$('#_fbpost_status').val(_status);
						        }
							});
						}
					}
				}
				</script>
				<fieldset>
					<div class="row-fluid">
						<div class="span6">
							<ul class="nav nav-tabs">
								<li class="active">
									<a href="#tab_post_status" data-toggle="tab">@Messages("msg.fbpost_status")</a>
								</li>
								<li><a href="#tab_post_link" data-toggle="tab">@Messages("msg.fbpost_link")</a></li>
								<li><a href="#tab_post_photo" data-toggle="tab">@Messages("msg.fbpost_photo")</a></li>
							</ul>
							<div class="tab-content">
								<div id="tab_post_status" class="tab-pane active">
									<label class="mylabel">@Messages("msg.fbpost.text") *:</label>
									<textarea name="text" rows="4" class="span12" id="_fbpost_text" required="required"></textarea>
									<span class="help-block"></span>
			
									<button type="button" class="btn btn-primary" onclick="javascript:postText();"><i class="icon-upload"></i> @Messages("msg.fbpost")</button>
									<button type="button" class="btn" onclick="javascript:location.href='@routes.ControlPanel_Fbpage.list()'"><i class="icon-remove"></i> @Messages("msg.cancel")</button>
								</div>
								<div id="tab_post_link" class="tab-pane">
									<label class="mylabel">@Messages("msg.fbpost.url") *:</label>
									<input type="text" name="url" id="_fbpost_url" class="span12" placeholder="http://" required="required">
									<span class="help-block"></span>

                                    <label class="mylabel">@Messages("msg.fbpost.url_desc"):</label>
                                    <textarea name="urlDescription" rows="4" class="span12" id="_fbpost_url_desc"></textarea>
                                    <span class="help-block"></span>
									
									<label class="mylabel">@Messages("msg.fbpost.url_caption"):</label>
									<input type="text" name="urlCaption" id="_fbpost_url_caption" class="span12">
									<span class="help-block"></span>
									
									<button type="button" class="btn btn-primary" onclick="javascript:postLink();"><i class="icon-upload"></i> @Messages("msg.fbpost")</button>
									<button type="button" class="btn" onclick="javascript:location.href='@routes.ControlPanel_Fbpage.list()'"><i class="icon-remove"></i> @Messages("msg.cancel")</button>
								</div>
								<div id="tab_post_photo" class="tab-pane">
									<form method="post" enctype="multipart/form-data" id="_fbfrm_photo">
										<label class="mylabel">@Messages("msg.fbpost.photo") *:</label>
										<div id="_fbpost_photo_btn" class="btn">@Messages("msg.fbpost.choosePhoto")</div>
										<input id="_fbpost_photo" type="file" name="photo" required="required" accept="image/*">
										<span class="help-block">@Messages("msg.fbpost.photo.info")</span>
										
										<label class="mylabel">@Messages("msg.fbpost.photo_caption"):</label>
										<textarea name="photoCaption" rows="4" class="span12" id="_fbpost_photo_caption"></textarea>
										<span class="help-block"></span>
										
										<div id="_fbupload_progress" style="margin-bottom: 4px;">
											<div class="bar" style="width: 0%;"></div>
										</div>
										
										<button type="button" class="btn btn-primary" onclick="javascript:postPhoto();"><i class="icon-upload"></i> @Messages("msg.fbpost")</button>
										<button type="button" class="btn" onclick="javascript:location.href='@routes.ControlPanel_Fbpage.list()'"><i class="icon-remove"></i> @Messages("msg.cancel")</button>
									</form>
								</div>
							</div>
						</div>
						<div class="span2">
							<label class="label">@Messages("msg.fbpages"):</label>
							@for(fbPage <- fbPages) {
								<label class="checkbox">
									<input type="checkbox" id="pages_@fbPage.id" name="pages_@fbPage.id" 
										value="@fbPage.id" @if(formFbPostText.get().pages.contains(fbPage.id)){checked="checked"}> <a href="@fbPage.getUrl()" target="_blank">@fbPage.name</a>
								</label>
							}
							<span class="help-block"></span>
						</div>
						<div class="span4" id="panel_status">
							<label class="label">@Messages("msg.fbpost.logs")</label>
							<textarea name="text" rows="@fbPages.size()+2" class="span12" id="_fbpost_status" readonly="readonly"></textarea>
						</div>
					</div>
				</fieldset>
			<!-- </form> -->
			</div>
		</div>
	</div>
}
